mixin nav
  nav.navbar.justify-content-center.text-center.bg-secondary(
    data-bs-theme='dark'
  )
    .container-fluid
      a.navbar-brand.fs-3.me-0(href='/')= 'Pet Dashboard'
      form#search.d-flex.mb-0(role='search', data-bs-theme='light')
        input.form-control.me-2(
          type='search',
          placeholder='Search',
          aria-label='Search'
        )
        button.btn.btn-outline-light= 'Search'
