html(lang='en')
  include mixins/head
  +head
    title Pet Dashboard - #{data.name}
  body
    include mixins/nav
    +nav
    main.container-sm.gx-0
      .card.row-cols-1.row-cols-md-2.row-cols-lg-3.align-items-center.text-center
        .card-body
          h3.card-text= data.name
          p= data.type.charAt(0).toUpperCase() + data.type.slice(1)
          if data.vaccines.length > 0
            h4= 'Vaccinations'
            ul.list-group
              each vaccine of data.vaccines
                if new Date(vaccine.vaccinationRecord.administrationDate) < Date.now()
                  .list-group-item.list-group-item-success
                    h5= vaccine.vaccinationRecord.administrationDate
                    p= vaccine.name
                    small= `Original Price: $${vaccine.basePrice}`
                    p.fw-bold= `Paid: $${vaccine.vaccinationRecord.endPrice}`
                else
                  .list-group-item.list-group-item-warning
                    h5= `Scheduled ${vaccine.vaccinationRecord.administrationDate}`
                    p= vaccine.name
                    small= `Original Price: $${vaccine.basePrice}`
                    p.fw-bold= `Expected Price: $${vaccine.vaccinationRecord.endPrice}`
          else
            .list-group
              h5.list-group-item= 'No vaccines records found.'
    include mixins/searchResults
    +searchResults
  include mixins/scripts
  +scripts
